.container{
	width: 30%;
	min-height: 40%;
	box-shadow: 2px 4px 4px 0px #ababab, 9px 7px 7px 0px #ccc, -4px 4px 4px 0px #b1b1b1, -2px -3px 4px 0px #ccc;
	border-radius: 0.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	transition: all 0.1s ease;
	min-width: 300px;
}


.wrapper{
	width: 100%;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

.form_wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	justify-content: center;
}

.btn_wrapper{
	margin: 0.5rem 0rem;
	display: flex;
	width: 100%;
}

.btn{
	padding: 0.5rem 0rem;
	background-color:rgba(72, 52, 212,1);
	color: #ccc;
	width: 100%;
	border-radius: 0.4rem;
	border: none;
	font-weight: 500;
	font-size: 1.2rem;
}
.form{
	display: flex;
	flex-direction: column;
}
.label, .sub_text{
	color: #616060;
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0.5rem 0rem;
}
.input_wrapper{
	border-radius: 1rem;
	margin: 0.5rem 0rem;
	display: flex;
	flex-direction: column;
}

.input{
	width: 100%;
	background-color: #ccc;
	padding: 0.8rem 0.8rem;
	border: none;
	border-radius: 0.8rem;
	font-size: 1rem;
}

.input:focus-visible{
	outline: none;
}
.header{
	display: flex;
	flex-direction: column;
}

.hero{
	width: 100%;
	background-color: #4834d4;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero_card{
	color: #fff;
}
.hero_text{
	font-size: 2.5rem;
}

.options{
	width: 100%;
	height: 100%;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.linkwrapper{
	display: flex;
	justify-content: space-between;
}

.link_btn{
	color: #fff;
	text-decoration: none;
	background: rgba(72, 52, 212,1);
	padding: 0.5rem;
	border: 1px solid #fff;
	border-radius: 0.2rem;
	cursor: pointer;

}

.danger{
	box-shadow: 0px 0px 4px 0px red;
}
.success{
	box-shadow: 0px 0px 4px 0px green;
}

.disabled{
	background-color:rgba(72, 52, 212,0.6)
}

.valid{
	background-color:rgba(72, 52, 212,1);
}


@media only screen and (max-width: 450px){
	.container{
		width: 100%;
		box-shadow: none;
		min-width: 200px;
	}
}